!!! 5
%html(lang="en-US")
  %head
    %title jQuery Modal Plugin | Jasmine Specs
    %meta(charset="UTF-8")
    %link(rel="shortcut icon" href="lib/jasmine-1.1.0/jasmine_favicon.png")
    %link(rel="stylesheet" href="lib/jasmine-1.1.0/jasmine.css")
    %script(src="lib/jasmine-1.1.0/jasmine.js")
    %script(src="lib/jasmine-1.1.0/jasmine-html.js")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(src="javascripts/selleck.js")
    %script(src="spec/selleck.js")
  %body
